@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showText {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-image: linear-gradient(transparent, #fafafa), url('../../static/backgrounds/main-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s;
  @media screen and (max-width: 600px) {
    margin-bottom: 100px;
  }
  &_dark {
    background-image: linear-gradient(#1e1f25, rgba(30, 31, 37, .7), #1e1f25), url('../../static/backgrounds/main-dark.jpg');
  }
}


.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  @media screen and (max-width: 600px){
    width: 80%;
  }
}

.header {
  width: 100%;
  font-size: 64px;
  font-weight: 500;
  // text-align: center;
  margin: 0;
  z-index: 1;
  @media screen and (max-width: 600px) {
    font-size: 48px;
  }
}

.subheader {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  // text-align: center;
  margin: 0;
  z-index: 1;
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.level {
  font-weight: 400;
  font-size: 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: 24px;
  border-right: 2px #ffffff solid;
  animation: showText 2s 1 forwards;
  @media screen and (max-width: 600px) {
    border: none;
  }
}

.ambientCat {
  width: 500px;
  position: absolute;
  top: 45%;
  left: 5%;
  z-index: 0;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.ambientReact {
  position: absolute;
  top: 20%;
  right: 15%;
  animation: spinning 5s 0s infinite;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.landing__image {
  transition: .5s;
  filter: invert(90%);
  width: 20%;
  @media screen and (max-width: 600px){
    width: 80%;
  }
  &_dark {
    filter: invert(0%);
  }
}