.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  @media screen and (max-width: 600px) {
    gap: 30px;
  }
}

.card__info {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  gap: 30px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.card__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__header {
  font-size: 48px;
  font-weight: 500;
  color: inherit;
  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

.icon_dark {
  filter: invert(100%);
}

.card__description {
  font-size: 20px;
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.card__image {
  width: 50%;
  border-radius: 15px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
