.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  transition: .5s;
}

.container_dark {
  transition: background-color .5s, color .5s;
  background-color: #1e1f25;
  color: #fafafa;
}