.moreBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.switcher_light {
  background-color: #eeeeee;
  .switcher__icon {
    filter: invert(0%);
  }
}

.switcher_dark {
  background-color: #2a2930;
  .switcher__icon {
    filter: invert(100%);
  }
}

.switcher__icon {
  width: 70px;
  height: 70px;
}

.cat {
  width: 200px;
}

.cat_dark {
  transition: 0.5s;
  filter: brightness(10%);
}

.cat_light {
  transition: 0.5s;
  filter: brightness(100%);
}

.interactiveCat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 200px;
  z-index: 0;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.contacts__header {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.contacts__email {
  width: 100%;
  text-align: center;
  color: #2a2930;
  font-size: 24px;
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}